# Environment variables
.env
.Renviron

# config files used by cron/airflow
*.dcf
*config.py
!powerschool_config.py
!airflow/jobs/silo/powerschool/datarobot_helpers/config.py

# OS X bs
.DS_Store

# rds files
*.rds

# httr_oath files
*.httr-oauth

# any log files
*.log
*.logs

#json keys
data/config/bq/*.json
data/config/gcs/*.json

# Dropbox ephemera
.dropbox

# Rproject files
.Rproj.user

# compiled python
*.pyc
