2 * * * *  root Rscript /jobs/attendance/data/Attend_Enroll.R /jobs/attendance/data/Attend_Enroll.R >> /var/log/cron.log 2>&1
50 4 * * *  root Rscript /jobs/map/map.R >> /var/log/cron.log 2>&1
55 22 * * *  root Rscript /jobs/transfers/transfers.R >> /var/log/cron.log 2>&1
#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
